.jumbotron {
  background-image: url('https://www.apple.com/v/mac/home/bk/images/overview/retail/apple_card__cwmne91xyiye_large.jpg');
  width: 100%;
  height: auto;
  background-size: 772px 509px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  background-position: right;
}
