@import 'theme.scss';
@import 'fonts.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.btn.focus,
.btn:focus,
a:focus,
button:focus,
input:focus,
span:focus {
  box-shadow: none;
  outline: none;
}
a:hover {
  text-decoration: none !important;
  opacity: 0.9;
  transition: 0.3s ease-in;
}

*::-webkit-scrollbar {
  width: 0.6em;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(88, 88, 88);
  outline: 1px solid grey;
}
-webkit-scrollbar {
  width: 0.6em;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  outline: 1px solid grey;
}
