@import 'theme.scss';
@import 'fonts.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.btn.focus,
.btn:focus,
a:focus,
button:focus,
input:focus,
span:focus {
  box-shadow: none;
  outline: none;
}
a:hover {
  text-decoration: none !important;
  opacity: 0.9;
  transition: 0.3s ease-in;
}
