<mat-toolbar id="header" color="primary" class="fixed-top mat-elevation-z4" style="z-index: 999">
  <mat-toolbar-row>
    <span class="example-spacer white-color en large-text" style="flex: 1.5">
     Smart Hardware Shop
    </span>
    <span class="example-spacer"></span>

    <button mat-button (click)="logout()" color="light" class="d-none d-md-block">
      <mat-icon class="white-color fa-flip-horizontal">exit_to_app</mat-icon>
      <span class="white-color"> Logout </span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
